In [1]:
print(10)

10

In [2]:
print('Hello Python')

Hello Python

In [3]:
print(25)  # int 
print(3.12) # float
print(True) # boolean
print('A')  # String

25
3.12
True
A

In [5]:
print('X', 'Y', 'Z')

X Y Z

In [6]:
print('Hello', 10, 3.5)

Hello 10 3.5

In [7]:
print('Hello' 10 3.5)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4075311015.py, line 1)

In [8]:
# This is code for project delta
a = 6
b = 7
print(a + b)

13

In [9]:
name = 'Vaibhav'
age = 20
height = 5.6

In [10]:
student-name = 'Y'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2394034487.py, line 1)

In [11]:
student name = 'Y'

SyntaxError: invalid syntax (121497055.py, line 1)

In [12]:
student_name = 'Y'

In [13]:
studentname = 'Y'

In [14]:
2age = 70

SyntaxError: invalid decimal literal (1863044100.py, line 1)

In [15]:
age2 = 70

In [16]:
# Concatination operations

In [17]:
print('A' + 'b')  # str + str

Ab

In [18]:
print('A' + 10 ) # str + int

TypeError: can only concatenate str (not "int") to str

In [19]:
print(10 + 5) #int + int

15

In [20]:
print(10 + 3.2) #int + float

13.2

In [21]:
print('A' + '10' ) # str + str

A10

In [22]:
type('10')

str

In [23]:
type(10)

int

In [25]:
name = 'Vaibhav'
surname = 'Bhosale'

In [26]:
print('My name is')

My name is

In [27]:
print('My name is' + name )

My name isVaibhav

In [28]:
print(f'My first name is {name} and my last name is {surname}')

My first name is Vaibhav and my last name is Bhosale

In [29]:
age = 55

In [34]:
print(f'My name is {name} and surname is {surname}. My age is {age}')

My name is Vaibhav and surname is Bhosale. My age is 55

In [35]:
print('Hello', 8, True, 3.1)

Hello 8 True 3.1

In [38]:
print('First_Name' + ' ' + 'last_name')

First_Name last_name

In [39]:
print('Hello' * 5)

HelloHelloHelloHelloHello

# Taking user Input

In [41]:
name = input()
print(f'Your Good name is {name}')

 Rock

Your Good name is Rock

In [42]:
name = input('Please write your first name')
print(f'Your Good name is {name}')

Please write your first name xyz

Your Good name is xyz

In [45]:
first_name = input('Enter your first name')
last_name = input('Enter your Last name or surname')
print(f'Your good name is {first_name} and last name is {last_name} ')

Enter your first name Alex
Enter your Last name or surname rock

Your good name is Alex and last name is rock

In [46]:
color = input('Enter your fev color')

Enter your fev color red

In [47]:
color

'red'

In [48]:
type(color)

str

In [49]:
marks = input('Enter Your marks')

Enter Your marks 12

In [50]:
marks

'12'

In [51]:
type(marks)

str

In [52]:
'12'

'12'

In [53]:
# How to take int input

In [58]:
age = int(input())

 5

In [ ]:
# Follow theory of 5 examples